@*
* This template takes a single argument, a String containing a
* message to display.
*@
@(message: String, player: Form[CreatePlayerForm])(implicit request: RequestHeader, messages: Messages)

    @import helper._
    @*
    * Call the `main` template with two arguments. The first
    * argument is a `String` with the title of the page, the second
    * argument is an `Html` object containing the body of the page.
    *@
    <div class="jumbotron">
    @main(message) {
        @*
        * Get an `Html` object by calling the built-in Play welcome
        * template and passing a `String` message.
        *@
        @welcome(message)

        @form(routes.HomeController.addPlayers()) {
            <h3>Insert first player nickname</h3>
            @inputText(player("nickName1"), 'id -> "name",
                'class -> "ui-state-default",
                'autocomplete -> "off",
                'placeholder -> "First player nick",
                '_label -> null)
            <h3>Insert second player nickname</h3>
            @inputText(player("nickName2"), 'id -> "name",
                'class -> "ui-state-default",
                'autocomplete -> "off",
                'placeholder -> "Second player nick",
                '_label -> null)
            <br/>
            <br/>
            <div>
                <input type="submit" class="btn btn-lg btn-primary" value="Start Game"/>
            </div>
        }
    }
    </div>
